/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230421/pngtree-color-red-blue-purple-yellow-normal-image_2476028.jpg'); /* Replace with your image address */
    background-size: cover; /* Ensures the image covers the entire body */
    background-position: center; /* Centers the image within the body */
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #f39c12;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    color: #2c3e50;
    margin-top: 30px;
    text-align: center;
}

section {
    padding: 30px;
    margin: 20px;
    background: linear-gradient(to right, #adf4ee, #eee8ff); /* Replace with your desired gradient colors */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

section a:hover {
    background-color: #e67e22;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    section {
        padding: 20px;
        margin: 10px;
    }

    footer {
        position: relative;
    }
}
